.about {
  padding: 0 2vw 5vw;

  .title {
    margin-top: 6vw;

    .lineMask {
      overflow: hidden;
    }
  }

  .postScript {
    margin: 4vw 0;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}