* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0px;
  background-color: #1d1c1c;
  color: #e7e4df;
  overflow: hidden;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-weight: 500;
  font-size: 5vw;
  letter-spacing: -0.3vw;
  line-height: 100%;
}

.small-text {
  font: initial;
  letter-spacing: initial;
}
